mw-core/src/main/resources/xsd/authentication.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://www.quikj.com/mw/core/value"
	targetNamespace="http://www.quikj.com/mw/core/value" 
	elementFormDefault="qualified">

	<xs:element name="Authentication" type="Authentication"/>
	
	<xs:complexType name="Authentication">
		<xs:sequence>
			<xs:element name="Id" type="xs:long" />
			<xs:element name="DomainId" type="xs:long" />
			
			<xs:element name="Role" type="xs:string" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>
