mw-core/src/main/resources/xsd/error.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://www.quikj.com/mw/core/value" 
	targetNamespace="http://www.quikj.com/mw/core/value" elementFormDefault="qualified">
	
	<xs:element name="Error" type="Error"/>
	
	<xs:complexType name="Error">
		<xs:sequence>
			<xs:element name="SessionCode" type="xs:string" minOccurs="0"/>
			<xs:element name="AdditionalInformation" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
